*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden
    ;
}

.container{
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    margin-bottom: 30px;

}

header h1{
    color: rgb(32, 31, 31);
    font-size: 2em;
    margin-bottom: 10px;
}

.carousel-slide{
    display: flex;
    transition: transfrom 0.4s ease-in-out;
}

.carousel-container{
    max-width: 1000px;
    position: relative;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.carousel-slide img{
    width: 100%;
    border-radius: 15px;
}

.prev-btn, .next-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
}

.prev-btn{
    left: 10px;
}
    

.next-btn{
    right: 10px;
}
.prev-btn:hover, .next-btn:hover{
    background-color: rgb(0, 0, 0,0.8);
}
.indicator-carousel{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;

}


.indicator{
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.indicator.active{
    background-color: rgba(255, 255, 255, 0.9);
}

.indicator:hover{
    background-color: rgba(255, 255, 255, 0.7);
}

@media(max-width: 768px){
    .prev-btn, .next-btn{
        font-size: 24px;
        padding: 8px;
    }
    .indicator{
        width: 10px;
        height: 10px;
    }
}